* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* estilo general*/
h1 {
  color: rgb(165, 2, 2);
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}


/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  height: 400px;
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}
ol li {
  background-color: #ddd;
  display:inline;
}
.item{
  display:inline;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

/* Estilos nav principal */
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* cambiar color on hover / paso el puntero del mouse */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* contenido general */
.content {
  background-color: #ddd;
  padding: 10px;
  height: 200px;
}

/* Estilo en footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
}