* {
  box-sizing: border-box;
}


/* estilo general*/
h2, h3, h4{
  color: rgb(165, 2, 2);
  font-family: 'Lily Script One', cursive;
  text-align: center;
}
h1 {
  text-align: left;
   font-family: 'Style Script', cursive;
  display: inline;
   /*border: 1px solid darkblue;
 text-shadow: 3px 3px 1px black;
  */
}

p {
  font-family: verdana;
  font-size: 20px;
  padding: 5px;
}

.logo {
  width: 10em;
  
}

/* Estilo de header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Crea dos columnas / cajas que floten una al lado de la otra */
nav {
  float: left;
  width: 30%;
  height: 400px;
  background: #ccc;
  padding: 20px;
}

/* Estilo de la lista dentro del menú */
nav ul {
  list-style-type: none;
  padding: 0;
}
ol li {
  background-color: #ddd;
  display:inline;
}
.item{
  display:inline;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px;  
}

/* Limpiar flotadores después de las columnas */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Estilo del Footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Diseño responsivo hace que las dos columnas / cuadros se apilen una encima de la otra en lugar de una al lado de la otra, en pantallas pequeñas */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

/* Estilos nav principal */
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #d83535;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1rem;
}

/* cambiar color on hover / paso el puntero del mouse */
.topnav a:hover {
  background-color: rgb(109, 241, 219);
  color: black;
}

/* contenido general */
.content {
  background-color: #ddd;
  padding: 10px;
  height: 200px;
}

/* Estilo en footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
}
footer{
  background-color: cyan;
}

html{
  background-color: beige;
}

body {
  background-color: coral;
  margin: 20;
  font-family: Arial, Helvetica, sans-serif;
}

#menu{
  font-weight: 400;
  font-style: italic;
}